<div class="container">
  <h1 class="text-center">New Record  <%#=@patient.name%></h1>
  <%= form_with model: @treatments do |form| %>
    <div>
      <%= form.label :type_of_treatment %><br>
      <%= form.text_field :typeoftreatement,class: 'form-control shadow-lg' %>
    </div>
    <br />
    <div>
      <%= form.label :teeth %><br>
      <%= form.text_field :teeth,class: 'form-control shadow-lg' %>
    </div>
    <br />
    <div>
      <%= form.label :medicine %><br>
      <%= form.text_area :medicine,class: 'form-control shadow-lg' %>
    </div>
    <br />
    <div>
      <%= form.label :next_appointment %><br>
      <%= form.text_field :nextappointment,class: 'form-control shadow-lg' %>
    </div>
    <br />
    <p>
      <%= form.submit %>
    </p>
  <% end %>
</div>
