<div class="row my-3">
  <div class="col">
    <%=link_to patient_treatment_path(@patient,  treatment) do%>
    <div class="card shadow-sm p-3  bg-body border border-3">
      <div class="d-flex justify-content-between  border border-3 p-2 rounded ">
        <div class="text-dark">
          <strong>Treatment:</strong>
          <span class="badge bg-success"> <%= treatment.typeoftreatement %><span>
        </div>
        <div class="text-dark">
          <strong>Teeth:</strong>
          <span class="badge bg-info"> <%= treatment.quadrant %></span>
          <span class="badge bg-info"> <%= treatment.teeth %></span>
        </div>
        <div class="text-dark">
          <strong>Deposite:</strong>
          <span class="badge bg-info"><%=treatment.deposite%></span>
        </div>
        <div class="text-dark">
          <strong>Next Appointment:</strong>
          <%= treatment.nextappointment %>
        </div>
      </div>
      <div class="text-dark border border-3 p-2 rounded mt-3">
        <strong>Medicine:</strong>
        <%= treatment.medicine %>
      </div>
      <%end%>
      <hr>
      <div class="d-flex justify-content-between">
        <div>
          <strong class="text-dark">Created at:</strong>
          <span class="text-dark"><%=time_ago_in_words(treatment.created_at )%></span>
        </div>
        <div>
          <%= link_to edit_patient_treatment_path(@patient,treatment) do %>
          <i class="fas fa-edit text-warning fs-5 mx-2"></i>
          <%end%>
          <%= link_to patient_treatment_path(@patient,treatment), method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fa-solid fa-trash text-danger fs-5 mx-2"></i>
          <%end%>
        </div>
      </div>
      </>
    </div>
  </div>
</div>
    <%#= treatment.total( treatment) %>
<style>
  a:link {
    text-decoration: none !important;
  }
</style>