<div class="row my-3 mx-1">
  <div class="col ">
    <div class="card  shadow-sm p-3  bg-body">
      <div class="card-body fs-5 border border-3 text-center  bg-primary-gradient">
        <span class="mx-3 text-dark" style="text-decoration: none;">
          <strong>Treatment:</strong>
          <%= @treatment.typeoftreatement %>
        </span>
        <span class="mx-3 text-dark">
          <strong>Teeth:</strong>
          <%= @treatment.quadrant %>
          <%= @treatment.teeth %>
        </span>
        <strong>Deposite:</strong>
        Rs.<%=@treatment.deposite%>
        <span class="mx-3 text-dark">
          <strong>Next Appointment:</strong>
          <%= @treatment.nextappointment %>
        </span>
      </div>
      <div class="card-body fs-5 border border-3 mt-2 text-dark">
        <strong>Medicine:</strong>
        <%= @treatment.medicine %>
      </div>
      <div>
        <strong class="text-dark">Date:</strong>
        <span class="text-dark"><%=time_ago_in_words(@treatment.created_at )%></span>
      </div>
      <%= link_to "Back", patient_path(@patient), class:"btn btn-secondary mt-3 px-3"%>
    </div>
  </div>