<p style="color: green"><%= notice %></p>
<div class="container  text-center mt-5">
 <h1 class="pt-5"> <%= render @treatementtype %></h1>

  <div>
    <%= link_to "Edit this treatementtype", edit_treatementtype_path(@treatementtype) ,class:'btn btn-warning'%> |
    <%= link_to "Back to treatementtypes", treatementtypes_path, class:'btn btn-secondary' %> |  
    <%= link_to "Destroy this treatementtype", @treatementtype, method: :delete, data: { confirm: 'Are you sure?' }  , class:'btn btn-danger'%>
  </div>
</div>