<div style="margin-bottom:4rem;">
</div>
<div class="container-fluid p-0  fixed-top bg-primary-gradient ">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <%= link_to root_path,class:"navbar-brand btn btn-outline-light rounded-pill text-color-blue" do%>
      <i class="fa-solid fa-tooth"></i>
      <% end%>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <%= link_to "All Patient", patients_path, class: "nav-link btn btn-outline-light rounded-pill text-color-blue"%>
          <%= link_to "Add New Patient", new_patient_path, class: "nav-link btn btn-outline-light rounded-pill text-color-blue ms-2" %>
          <%= link_to "Today Appointment ", today_appointment_patients_path, class: "nav-link btn btn-outline-light rounded-pill text-color-blue ms-2" %>
        </ul>
        <ul class="navbar-nav ms-auto">
          <% if current_user %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn btn-outline-light rounded-pill text-color-blue" href="#"
              id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <div class="fa fa-user"></div>
              <b><%= current_user.email %></b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to edit_user_registration_path, class: "dropdown-item #{'active fw-bold' if current_page?(edit_user_registration_path)}" do %>
              <div class="fa fa-cog"></div>
              <b>Account settings</b>
              <% end %>
              <%= button_to destroy_user_session_path, method: :delete, data: { turbo: false }, class: "dropdown-item" do%>
              <i class="fa fa-sign-out-alt fw-bold"></i>
              <b>Sign out</b>
              <%end%>
            </ul>
          </li>
          <% else %>
          <%= link_to "Log in", new_user_session_path, class: "nav-link text-color-blue #{'active fw-bold' if current_page?(new_user_session_path)}" %>
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link text-color-blue#{'active fw-bold' if current_page?(new_user_registration_path)}" %>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</div>
<%= render 'shared/message'%>