<div id="<%= dom_id patient %>">
    <tr>
        <th scope="row"><%= patient.name %></th>
        <td> <%= patient.all_treartments(patient)  %></td>
        <td><%= patient.age %></td>
        <td><%= patient.address %></td>
        <td><%= patient.phone %></td>
        <td>
            <div class="text-center">
                <span class="border-end border-3 border-dark px-2 ">Rs. <%= patient.cost %> - Rs.<%= patient.total_deposite %></span>
                <span class="px-2">Rs.<%= patient.balance %></span>
            </div>
        </td>
        <td><%= link_to "Show",patient  %> | <%=link_to "Edit ", edit_patient_path(patient)%> |
            <%= link_to "Delete",patient_path(patient),  method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
</div>