<% @patient.treatments.each do |treatment| %>
  <%= render partial: 'treatments/treatment', locals: {treatment: treatment}%>
<%end%>
<div class="modal fade" id="add-treatment" tabindex="-1" aria-labelledby="add-treatmentLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add-treatmentLabel">Treatment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with model: [ @patient, @patient.treatments.build ] do |form| %>
          <div class="">
            <%= form.select :typeoftreatement, [ 'RCT','Extraction','Scaling','Crown/Bridge', ], :prompt => 'Type of treatement', :class=>'form-select' %>
          </div>
          <br />
          <div>
            <%= form.label :teeth %><br>
            <%= form.text_field :teeth,class: 'form-control shadow-lg' %>
          </div>
          <br />
          <div>
            <%= form.label :medicine %><br>
            <%= form.text_area :medicine,class: 'form-control shadow-lg' %>
          </div>
          <br />
          <div>
            <%= form.label :next_appointment %><br>
            <%= form.date_field :nextappointment,class: 'form-control shadow-lg' %>
          </div>
          <br />
          <p>
            <%= form.submit %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
