<div class="container-fluid border-3 py-2  bg-primary-gradient"">
<table  class=" table text-center">
  <tr>
    <td><span class="badge text-bg-warning fs-6"> Name:<%= @patient.name %></span></td>
    <td><span class="badge text-bg-info fs-6">Age:<%= @patient.age %></span></td>
    <td><span class="badge text-bg-info fs-6">Address:<%= @patient.address %></span></td>
    <td><span class="badge text-bg-info fs-6">Phone:<%= @patient.phone %></span></td>
  </tr>
  <tr>
    <td>
      <span class="badge text-bg-warning fs-6"> Cost: Rs.<%= @patient.cost %></span>
    </td>
    <td>
      <span class="badge text-bg-info fs-6"> Deposite: Rs.<%= @patient.total_deposite %></span>
    </td>
    <td>
      <span class="badge text-bg-info fs-6"> Balance: Rs.<%= @patient.balance%></span>
    </td>
    <td>
      <%= link_to "Add Appointment", new_patient_treatment_path(@patient), class:"badge text-bg-info fs-6"  %>
    </td>
  </tr>
  </table>
</div>
<div class="bg-primary-gradient mb-3 mt-1">
  <h1 class="text-center py-4  text-color-blue">Treatement</h1>
</div>
<div class="container">
  <%= link_to "Add Treatement Type",new_treatementtype_path, class:"btn btn-secondary"%>
  <% @patient.treatments.each do |treatment| %>
  <%= render partial: 'treatments/treatment', locals: {treatment: treatment}%>
  <%end%>
</div>